<!-- templates/about.html -->
{% extends 'home.html' %}

{% block title %}About - Flask App{% endblock %}

{% block content %}
<h1>Sobre nós</h1>
<p>Esta página fornece informações sobre nossa empresa ou organização. Você pode personalizar esta página para incluir detalhes sobre sua equipe, declaração de missão e mais.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique nunc id lorem lacinia, non egestas eros bibendum. Nam sed erat a nisi fermentum iaculis. Mauris non placerat nunc. Curabitur fermentum at urna et auctor. Duis consequat tortor eget velit tincidunt, sed vulputate arcu ultricies. Sed sodales elit magna, vel sollicitudin ligula dignissim et. Mauris nec orci eros.</p>
<p>Integer venenatis orci magna, non tincidunt risus elementum non. Duis nec tortor id orci eleifend tincidunt. Nullam a velit ante. Cras semper vehicula felis, eget rhoncus risus malesuada ut. Sed non tellus at enim convallis bibendum at a libero. Nullam quis mollis felis. Nulla non lacus eget sapien consectetur rutrum nec vitae tortor.</p>
{% endblock %}