<!-- templates/contact.html -->
{% extends 'home.html' %}

{% block title %}Contact - Flask App{% endblock %}

{% block content %}
<h1>Entre em Contato</h1>
<p>Sinta-se à vontade para entrar em contato conosco usando as informações de contato abaixo:</p>
<ul>
    <li>Email: info@examplo.com</li>
    <li>Número: +123 456 7890</li>
    <li>Endereço: 123 Rua Santa Rosa, Niterói, Brazil</li>
</ul>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet dui sed elit interdum lacinia. Mauris non eros ut justo congue vehicula vel id turpis. Nullam vulputate, elit sed rhoncus bibendum, justo elit euismod lorem, in efficitur dolor dolor ac dui. Mauris id feugiat orci.</p>
<p>Fusce porta erat ut purus suscipit, sed suscipit velit eleifend. Aliquam sed dui quis turpis auctor dignissim. Integer fringilla, libero ut dignissim ultricies, libero nisi volutpat nulla, ac tempor quam nulla non justo. Sed eget interdum eros. Nullam at dictum nisi.</p>
{% endblock %}